{% extends 'admin/base_template.html' %}
{% load static %}
{% load get_item %}
{% load cut_text %}

{% block title %} Все сообщения {% endblock %}


{% block page_title %} Все сообщения {% endblock %}


{% block nav_ol %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
        Все сообщения
    </li>
</ol>
{% endblock %}

{% block content_width %} class="col-12" {% endblock %}


{% block content %}
<!-- Tab content -->
<!-- Card -->
<div class="card"
    data-list='{"valueNames": ["item-name", "item-title", "item-email", "item-phone", "item-score", "item-company"]}'
    id="contactsList">
    <div class="row">
        <div class="col-6 justify-content-center">
            <!-- Form -->
            <form method="get" style="padding: 30px; width: 300px;">
                <div class="form-group" style="width: 200px;">
                    <label for="" class="form-label">
                        Quotes
                    </label>
                    <select name="quotes" class="form-select" id="" multiple data-choices='{"removeItemButton": true}'>
                        {% for q in quotes %}
                        {% if q.id in selected_quotes %}
                            <option value="{{ q.id }}" selected>{{ q.name }}</option>
                        {% else %}
                            <option value="{{ q.id }}">{{ q.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" name="filter">
                <div class="form-group">
                    <label for="" class="form-label">
                        Date
                    </label>
                    <input name="date" type="text" class="form-control" placeholder="Flatpickr range example"
                        data-flatpickr='{"mode": "range"}'>
                </div>
                <button class="btn btn-primary" type="submit">Искать</button>
            </form>
        </div>
        <div class="col-6" style="padding-top: 50px;">
            <p><b>Результаты:</b> {{ objecs_count }}</p>
            <p><b>Пользователи:</b> {{ user_count }}</p>
        </div>
    </div>
    <div class="table-responsive" style="padding: 20px;">
        <table class="table table-sm table-hover table-nowrap card-table">
            <thead>
                <tr>
                    <th style="width: 30px;">
                        <a class="list-sort text-muted">№</a>
                    </th>
                    <th>
                        <a class="list-sort text-muted">ID</a>
                    </th>
                    <th>
                        <a class="list-sort text-muted">User</a>
                    </th>
                    <th>
                        <a class="list-sort text-muted">text</a>
                    </th>
                    <th>
                        <a class="list-sort text-muted">date</a>
                    </th>
                    <th style="width: 200px;"></th>
                </tr>
            </thead>
            <tbody class="list fs-base">
                {% for obj, i in objects.pairs %}
                <tr>
                    <td>
                        <a class="item-title" href="{% url 'messages_detail' obj.id %}">{{ i }}</a>
                    </td>
                    <td>
                        <p class="item-phone text-reset">
                            {{ obj.message_id }}
                        </p>
                    </td>
                    <td>
                        <p class="item-phone text-reset">
                        {{ obj.user }}
                        </p>
                    </td>
                    <td>
                        <p class="item-text text-reset">
                            {{ obj.text|cut_text }}
                        </p>
                    </td>
                    <td>
                        <p class="item-text text-reset">
                            {{ obj.date }}
                        </p>
                    </td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'messages_detail' obj.id %}" class="btn btn-sm btn-info"><i
                                    class="fe fe-info"></i></a>
                            <div action="{% url 'delete' %}" id="delete-form{{ obj.id }}" method="POST"
                                style="display: none;">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ obj.id }}">
                                <input type="hidden" name="model_name_del" value="Messages">
                                <input type="hidden" name="app_name_del" value="admins">
                                <input type="hidden" name="url" value="{{ request.get_full_path }}">
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between">

        <!-- Pagination (prev) -->
        <ul class="pagination pagination-tabs card-pagination">
            <li class="page-item">
                <a class="page-link ps-0 pe-4 border-end" {% if page_obj.has_previous %}
                    href="{{ url }}page={{ page_obj.previous_page_number }}" {% else %} href="#" {% endif %}>
                    <i class="fe fe-arrow-left me-1"></i> Prev
                </a>

            </li>
        </ul>

        <!-- Pagination -->
        <ul class="pagination pagination-tabs card-pagination" style="overflow-x: auto;">
            {% for i in page_obj.paginator.page_range %}
            {% if i == page_obj.number %}
            <li class="active"><a class="page" href="{{ url }}page={{ i }}" data-i="1" data-page="10">{{ i }}</a></li>
            {% else %}
            <li><a class="page" href="{{ url }}page={{ i }}" data-i="1" data-page="10">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>



        <!-- Pagination (next) -->
        <ul class="pagination pagination-tabs card-pagination">
            <li class="page-item">
                <a class="page-link ps-4 pe-0 border-start" {% if page_obj.has_next %}
                    href="{{ url }}page={{ page_obj.next_page_number }}" {% else %} href="#" {% endif %}>
                    Next <i class="fe fe-arrow-right ms-1"></i>
                </a>
            </li>
        </ul>


        <!-- Alert -->
        <div class="list-alert alert alert-dark alert-dismissible border fade" role="alert">

            <!-- Content -->
            <div class="row align-items-center">
                <div class="col">

                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" id="listAlertCheckbox" type="checkbox" checked disabled>
                        <label class="form-check-label text-white" for="listAlertCheckbox">
                            <span class="list-alert-count">0</span> deal(s)
                        </label>
                    </div>

                </div>
                <div class="col-auto me-n3">
                    <!-- Button -->
                    <button class="btn btn-sm btn-white-20">
                        Delete
                    </button>

                </div>
            </div> <!-- / .row -->

            <!-- Close -->
            <button type="button" class="list-alert-close btn-close" aria-label="Close"></button>

        </div>

    </div>
</div>


<!-- JAVASCRIPT -->

<!-- Map JS -->

<!-- Vendor JS -->
{% endblock %}